@import "../styles.css";


html,body {
  margin:0;
  padding:0;
  height:100%;
}
.page{
  min-height: 100%;
}

.btn-group-stick button{
  border: 1px solid grey;
  outline: unset;
}

.btn-group-stick:first-child button{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-group-stick:last-child button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid grey;
  outline: unset;
}

.mar-10{
  margin: 10px;
}

.btn-round{
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.btn-30-60{
  height: 30px;
  width: 60px;
}

nl-footer{
  position: fixed;
}

.loader {
  margin: 0 auto;
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #98daf1;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1999;
}

.parent-loader{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 2999;
}

.loader-img{
  width: 100px;
  height: 80px;
  position: fixed;
  z-index: 999;
  top: 47%;
  right: 46%;
}
.loader-img-parent{
  position: relative;
  top: 57%;
}

.gray-scale{
  position: relative;
  top: 40%;
}

.gibs-spin{
  font-size:50px; color: #FFFFFF;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
